body {
	height: 100vh;
	margin: 0;
	display: grid;
	justify-items: center;
	align-items: center;
	background: #cbf3fd;
	font-family: "Nunito", "sans-serif";
}

.container {
	position: relative;
}

.inner {
	position: relative;
	width: 250px;
	padding: 1em;
	border-radius: 10px;
	color: white;
	transition: all 500ms ease-in-out;

	&:hover {
		clip-path: circle(100%);

		span {
			opacity: 0;
		}
	}

	span {
		float: right;
		position: relative;
		font-weight: bold;
		transition: all 500ms ease-in-out;
	}

	h1 {
		margin: 0;
	}

	p {
		font-size: 0.8rem;
	}
}

.inner-fr {
	clip-path: circle(10% at 90% 20%);
	background: #3dfef4;

	&:hover {
		background: rgb(23, 138, 231);
	}

	span {
		margin-right: 4%;
	}
}

.inner-es {
	transform: translateY(-100%);
	clip-path: circle(10% at 70% 20%);
	background: #ffbf6b;

	&:hover {
		background: #ca7300;
	}

	span {
		margin-right: 26.5%;
	}
}
